In [1]:
import pandas as pd

In [4]:
df_gt = pd.read_csv("AirQuality/Dataset/GroundTruth_PM2_5.csv")
df_tier = pd.read_csv("AirQuality/RQ3/Dataset/city_tire.csv")

print(df_gt.columns)
print(df_tier.columns)

Index(['city', 'state', 'YearMonth', 'AT', 'BP', 'PM2.5', 'RF', 'VWS', 'WD',
       'WS', 'latitude', 'longitude', 'latitude_osm', 'longitude_osm'],
      dtype='object')
Index(['city', 'Tier'], dtype='object')

In [5]:
unique_gt_cities = df_gt["city"].unique()
unique_tier_cities = df_tier["city"].unique()

common_cities = set(unique_gt_cities) & set(unique_tier_cities)

print(len(common_cities))
print(len(unique_gt_cities))

144
144

In [6]:
df_common = df_gt.merge(df_tier,on="city",how="inner")
df_common = df_common[["city","state","Tier"]].drop_duplicates().reset_index(drop=True)
df_common

              city           state   Tier
0             Agra   Uttar Pradesh  Tier2
1        Ahmedabad         Gujarat  Tier1
2           Aizawl         Mizoram  Tier3
3            Ajmer       Rajasthan  Tier2
4            Alwar       Rajasthan  Tier3
..             ...             ...    ...
139     Vijayapura       Karnataka  Tier2
140  Visakhapatnam  Andhra Pradesh  Tier2
141      Vrindavan   Uttar Pradesh  Tier3
142         Yadgir       Karnataka  Tier3
143   Yamuna Nagar         Haryana  Tier3

[144 rows x 3 columns]